.header 
{
    background-color: #ffffff;
    text-align: center;
    padding: 10px; 
    margin: 10px; 
    border: 1px solid;
  }

  
ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap; /* assumes you only want one row */
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border: 1px solid;
    ul {
    list-style-type: none;
    margin: 10px;

    }
}

li a:hover:not(.active) {
    background-color: #00d9ff;
}

.active {
    background-color: #04AA6D;
}


.container {
    float:  left;
    height: 70vh;
    position: inline;
    margin: 10px;
    padding: 10px;
    display: flex;
  }
  
  .sidebar {
    
    position: absolute;
    height: 70vh;
    margin: 10px;
    padding: 10px;
    
    width: 18%;
    border: 1px solid;

  }
  
  .main {
    
    float: right;
    position: inline;

    margin:10px;
    padding:10px;
    height: 70vh;
    width: 78%;
    border: 1px solid;


  }

  .footer {
    position: fixed;
    height: 5vh;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid;

  }

.result
{
  border: 1px solid;
  position: relative;
  list-style-type: none;
  margin: 10px;
  padding: 10px;

}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .container.sidebar {
    width:100%;
  }
  .container.main {
    width: 100%;
  }
}
  /*

  body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }
  */